In [1]:
# 데이터처리 라이브러리
import pandas as pd
import numpy as np

# 머신러닝 라이브러니
from sklearn.svm import SVC # 서포트 vector
from sklearn.neighbors import KNeighborsClassifier # k neighbors

# 데이터 전처리 라이브러리
from sklearn.model_selection import train_test_split

# 클래시피케이션 metricx 
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score # 정확도 지표들

# 결과를 출력하기 위한 라이브러리
from sklearn.metrics import classification_report

In [2]:
# 데이터 불러오기
csData = \
pd.read_csv("../../stddev/dataset/customer.csv", encoding = "ms949")

In [3]:
csData.label.drop_duplicates()

0     normal
1    diamond
4        vip
Name: label, dtype: object

# 타입 통합/ 숫자형 컬럼 추가

In [4]:
csData = csData.astype({'balance' : 'int','stock':'int','label':'object'})

# 특성 선정 / 데이터 분리

In [5]:
labelColumns = 'label_new'

In [6]:
csData.corr()

          balance     stock
balance  1.000000  0.565942
stock    0.565942  1.000000

In [7]:
# LABEL_ENCODER는 내가 원하는 값으로 맵핑하기가 힘들다. 딕셔너리는 내가 원하는 값으로 변형이 가능하다.
labelMap = {'normal':0,'diamond':1,'vip':2}
csData['label_new'] = csData.label.map(labelMap)

In [10]:
csData

         balance     stock    label  label_new
0       30000000  22500000   normal          0
1      280000000  48000000  diamond          1
2      300000000  40666666  diamond          1
3       54000000  28000000   normal          0
4      768000000  32000000      vip          2
...          ...       ...      ...        ...
19995  628000000  44666666  diamond          1
19996  276000000  20000000   normal          0
19997  652000000  41333333  diamond          1
19998  676000000  45333333  diamond          1
19999  732000000  26000000  diamond          1

[20000 rows x 4 columns]

In [8]:
corrDf = csData.corr()

In [9]:
corrDf

            balance     stock  label_new
balance    1.000000  0.565942   0.883144
stock      0.565942  1.000000   0.824174
label_new  0.883144  0.824174   1.000000

In [12]:
corrStd = 0.5

In [13]:
features = list(corrDf.loc[(abs(corrDf[labelColumns]) > corrStd) & (corrDf[labelColumns] != 1)].index)

In [14]:
features

['balance', 'stock']

In [15]:
labelColumns = 'label'

In [16]:
list(labelColumns)

['l', 'a', 'b', 'e', 'l']

In [17]:
set(features)

{'balance', 'stock'}

In [18]:
trainingDataFeatures,\
testDataFeatures,\
trainingDataLabel,\
testDataLabel= train_test_split(csData.loc[:,features],csData.loc[:,labelColumns],random_state=1,test_size=0.2)

In [19]:
print(trainingDataLabel.shape)

(16000,)

# 모델 선언/학습

In [20]:
model_svm = SVC(random_state=5)

In [21]:
model_svm.fit(trainingDataFeatures,trainingDataLabel)

SVC(random_state=5)

# 예측

In [22]:
predictSvm = model_svm.predict(testDataFeatures)

# 데이터 정리

In [23]:
testdataAll = csData.loc[testDataLabel.index]

In [24]:
testdataAll['predict_svm'] = predictSvm

In [25]:
accuracy = accuracy_score(y_true=testdataAll.label,y_pred=testdataAll.predict_svm)

In [26]:
accuracy

0.995

In [34]:
# 최종 리포트 작성
print(classification_report(y_true=testdataAll.label,y_pred=testdataAll.predict_svm))

              precision    recall  f1-score   support

     diamond       1.00      1.00      1.00      2346
      normal       0.99      0.99      0.99      1188
         vip       1.00      0.99      0.99       466

    accuracy                           0.99      4000
   macro avg       1.00      0.99      0.99      4000
weighted avg       0.99      0.99      0.99      4000

# 예측값을 도출 하기 위한 단계

In [ ]:
testdataAll.to_clipboard()

In [ ]:
testdataAll.to_csv("d:/svc_result.csv")

In [29]:
userInputBalace = 1000000
userInputBalace = 5000

In [30]:
import pickle

In [ ]:
filename = 'final.csv'
pickle.dump()

In [ ]:
# 리눅스에는 파이썬 파일과 결과값csv를 피클파일로 저장하면 load하면 사용자의 입력에따라 예측값을 제공한다.

In [ ]:
# jcraft 쉘스크립트 명령어를 자바로 던질수 있다.
# jsch도 가능하다.
# setCommand 도 가능하다.

In [ ]:
# random_state의 파라미터는 셔플의 범위를 지정해주기 위한 값이다. 값이 몇인지가 의미있는 것이 아니다. 모든 모델에 같은 난수를 지정해주는 것에 의미가 있다.