라이브러리 선언

In [2]:
# json읽어오는 방법
import pandas as pd

testData = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MmE1MWQxNjExN2MyM2JiYzA2MTQ1MmM2ZmNkMzhlYzk=&format=json&jsonVD=Y&userStatsId=dybaek411/101/DT_1B040A3/2/1/20210412145641&prdSe=M&newEstPrdCnt=1"

# 테이블을 먼저 생성해준다.
json = pd.DataFrame()

# 데이터를 테이블에 읽어온다.
json = pd.read_json(testData)

json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51705905,M,0,전국,Whole country
1,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,25787390,M,0,전국,Whole country
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,25918515,M,0,전국,Whole country
3,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul
4,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4667524,M,11,서울특별시,Seoul
5,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4930960,M,11,서울특별시,Seoul
6,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3372399,M,26,부산광역시,Busan
7,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1651804,M,26,부산광역시,Busan
8,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1720595,M,26,부산광역시,Busan
9,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2408875,M,27,대구광역시,Daegu
10,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1188070,M,27,대구광역시,Daegu
11,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1220805,M,27,대구광역시,Daegu
12,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2936461,M,28,인천광역시,Incheon
13,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1470750,M,28,인천광역시,Incheon
14,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1465711,M,28,인천광역시,Incheon
15,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1445473,M,29,광주광역시,Gwangju
16,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,715226,M,29,광주광역시,Gwangju
17,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,730247,M,29,광주광역시,Gwangju
18,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1458463,M,30,대전광역시,Daejeon
19,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,728075,M,30,대전광역시,Daejeon
20,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,730388,M,30,대전광역시,Daejeon
21,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1129254,M,31,울산광역시,Ulsan
22,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,580424,M,31,울산광역시,Ulsan
23,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,548830,M,31,울산광역시,Ulsan
24,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,360462,M,36,세종특별자치시,Sejong_si
25,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,180030,M,36,세종특별자치시,Sejong_si
26,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,180432,M,36,세종특별자치시,Sejong_si
27,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,13465837,M,41,경기도,Gyeonggi-do
28,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,6776866,M,41,경기도,Gyeonggi-do
29,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,6688971,M,41,경기도,Gyeonggi-do
30,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1536399,M,42,강원도,Gangwon-do
31,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,773248,M,42,강원도,Gangwon-do
32,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,763151,M,42,강원도,Gangwon-do
33,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1595714,M,43,충청북도,Chungcheongbuk-do
34,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,809457,M,43,충청북도,Chungcheongbuk-do
35,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,786257,M,43,충청북도,Chungcheongbuk-do
36,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2115823,M,44,충청남도,Chungcheongnam-do
37,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1080841,M,44,충청남도,Chungcheongnam-do
38,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1034982,M,44,충청남도,Chungcheongnam-do
39,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1797450,M,45,전라북도,Jeollabuk-do
40,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,893974,M,45,전라북도,Jeollabuk-do
41,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,903476,M,45,전라북도,Jeollabuk-do
42,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,1844811,M,46,전라남도,Jeollanam-do
43,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,927884,M,46,전라남도,Jeollanam-do
44,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,916927,M,46,전라남도,Jeollanam-do
45,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2635563,M,47,경상북도,Gyeongsangbuk-do
46,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1327990,M,47,경상북도,Gyeongsangbuk-do
47,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1307573,M,47,경상북도,Gyeongsangbuk-do
48,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3330463,M,48,경상남도,Gyeongsangnam-do
49,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,1677021,M,48,경상남도,Gyeongsangnam-do
50,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,1653442,M,48,경상남도,Gyeongsangnam-do
51,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,673974,M,50,제주특별자치도,Jeju-do
52,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,338206,M,50,제주특별자치도,Jeju-do
53,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,335768,M,50,제주특별자치도,Jeju-do

In [2]:
import pandas as pd

# API가져오기
targetUrl = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MmE1MWQxNjExN2MyM2JiYzA2MTQ1MmM2ZmNkMzhlYzk=&format=json&jsonVD=Y&userStatsId=dybaek411/101/DT_1MA0028/2/1/20210412180438&prdSe=Y&newEstPrdCnt=1"

# 테이블을 만듦
json = pd.DataFrame()

# 올바른 코드라면 json파일 읽어옴
try:
    json = pd.read_json(targetUrl)
except Exception as e:
    print(e)

#출력
json

,TBL_NM,ITM_NM_ENG,ITM_ID,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C2_OBJ_NM,C3_OBJ_NM,C2,C1_NM_ENG,...,C1_OBJ_NM_ENG,C2_OBJ_NM_ENG,C3_OBJ_NM_ENG,C3,DT,PRD_SE,C1,C1_NM,C2_NM,C3_NM
0,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,19979.1,A,0,전국,계,계
1,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11252.8,A,0,전국,계,부채있음
2,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL11,1853.3,A,0,전국,계,1천만원 미만
3,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL12,2471.0,A,0,전국,계,1-3천만원 미만
4,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL13,1369.2,A,0,전국,계,3-5천만원 미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL15,1.6,A,39,제주특별자치도,60-64세,7천만원-1억원 미만
1184,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL16,2.9,A,39,제주특별자치도,60-64세,1-2억원 미만
1185,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL17,1.0,A,39,제주특별자치도,60-64세,2-3억원 미만
1186,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,2.3,A,39,제주특별자치도,60-64세,3억원 이상
1187,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.3,A,39,제주특별자치도,60-64세,부채없음

In [32]:
testdata2 = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MmE1MWQxNjExN2MyM2JiYzA2MTQ1MmM2ZmNkMzhlYzk=&format=json&jsonVD=Y&userStatsId=dybaek411/101/DT_1B040A3/2/1/20210412150645_2&prdSe=M&newEstPrdCnt=3"

In [33]:
dhty = pd.read_json(testdata2)

In [34]:
dhty

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202101,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9657969,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202102,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9648606,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul

In [1]:
import pandas as pd

# 1행 82500 2008
# 2행 275000 2010

rowList = []
columnList = []

columnList.append("82500")

columnList.append("2008")

rowList.append(columnList)

columnList= []

columnList.append("72500")

columnList.append("2010")

rowList.append(columnList)

pd.DataFrame(rowList)

       0     1
0  82500  2008
1  72500  2010

In [23]:
import requests
from lxml import html
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
API_Key = unquote('key')
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"
queryParams = '?' + urlencode(
{
quote_plus('ServiceKey') : API_Key,
quote_plus('LAWD_CD'): '11110',
quote_plus('DEAL_YMD'): '201512'
}
)
response = requests.get(url+queryParams)
response.encoding='utf-8'
xmlobj = BeautifulSoup(response.text,"lxml-xml") # parser
rows = xmlobj.find_all("item")

In [20]:
response.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE KEY IS NOT REGISTERED ERROR.</resultMsg></header></response>'

In [1]:
import requests
# xml 파일을 읽어오기 위해 필요함
from lxml import html
# 태그형태의 데이터를 추출하기 위해 필요함
from bs4 import BeautifulSoup
import pandas as pd
# 아래 두줄은 url인코더를 하기 위해 필요함
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

# API불러오기 (두가지 방법)

# API_Key = unquote('key')
# url = ""
# queryParams = '?' + urlencode(
# {
# quote_plus('ServiceKey') : API_Key,
# quote_plus('LAWD_CD'): '11110',
# quote_plus('DEAL_YMD'): '201512'
# }
# )
# response = requests.get(url+queryParams)
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")

# 인코딩하기
response.encoding = 'utf-8'

# parser
xmlobj = BeautifulSoup(response.text,"lxml-xml")

# item태그안에 있는 내용 찾기
rows = xmlobj.find_all("item")

# 사용할 배열 초기화
rowList = []
columnList = []
columnsNameList = []

# 반복문을 통해 데이터를 배열에 입력
for i in range(0, len(rows)):
    
    eachRow = rows[i]
    columns = eachRow.find_all()

    for j in range(0, len(columns)):
        eachColumns = columns[j]
        if i == 0:
            # name은 이름이 나오는것
            columnsNameList.append(eachColumns.name)
        # text내용이나옴
        eachColumnsValue = eachColumns.text
        
        columnList.append(eachColumnsValue.replace(" ",""))
        
    rowList.append(columnList)
    # 배열 초기화해서 깨끗하게 만들기
    columnList = []

indata = pd.DataFrame(rowList, columns=columnsNameList)

indata.head()

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,